ThoughtStream.xcodeproj/
build/
.build/
.vscode/
ThoughtStream.xcworkspace/
Projects/App/ThoughtStream.xcodeproj/
buildServer.json
Projects/App/Derived/
Projects/App/ThoughtStream.xcodeproj/project.pbxproj
.swiftpm/